PORT=8080
AWS_REGION=us-east-1
REDIS_HOST=master.chesschat-dev.zu5wgj.use1.cache.amazonaws.com
REDIS_PORT=6379
REDIS_AUTH_TOKEN=replace-with-token
REDIS_TLS=true
DYNAMODB_USERS_TABLE=chesschat-dev-users
DYNAMODB_GAMES_TABLE=chesschat-dev-games
DYNAMODB_PAIR_ROOMS_TABLE=chesschat-dev-pair-rooms
DYNAMODB_FRIENDSHIPS_TABLE=chesschat-dev-friendships
DYNAMODB_FRIEND_REQUESTS_TABLE=chesschat-dev-friend-requests
DYNAMODB_CHALLENGES_TABLE=chesschat-dev-challenges
DYNAMODB_NOTIFICATIONS_TABLE=chesschat-dev-notifications
COGNITO_USER_POOL_ID=us-east-1_AWq14lBGV
COGNITO_CLIENT_ID=5numi4223d3jnebrlfqboseu42
COGNITO_REGION=us-east-1
COGNITO_HOSTED_UI_BASE_URL=https://chesschat-dev-6c96bb.auth.us-east-1.amazoncognito.com
CHIME_REGION=us-east-1
APP_DOMAIN=https://app.chess-chat.com
CHESSCOM_OAUTH_CLIENT_SECRET_NAME=chesschat/dev/chesscom/oauth-client
ROOM_TTL_SECONDS=3600
ROOM_CONSUMED_TTL_SECONDS=2592000
GAME_DURATION_SECONDS=300
RECONNECT_GRACE_SECONDS=12
HEARTBEAT_INTERVAL_MS=30000
